@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mulish", "sans-serif";
}

h1 h2 h3 h4 h5 h6 p a input textarea ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #0D0D0D;
  padding: 2vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header ul li {
  font-size: 4vw;
}
header ul li a {
  color: #F2F2F2;
}
header .logo {
  display: flex;
  justify-content: center;
  margin: 2vw;
}
header .logo a {
  width: 45%;
}

@media (min-width: 481px) {
  header {
    padding: 0.8vw;
  }
  header ul li {
    font-size: 2.5vw;
  }
  header .logo {
    margin-top: 0.1vw;
  }
  header .logo a {
    width: 30%;
  }
}
@media (min-width: 768px) {
  header {
    padding: 0.1vw;
  }
  header nav {
    display: flex;
    flex-direction: row;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  header nav ul li {
    font-size: 2vw;
    margin: 1vw;
  }
  header .logo {
    width: 20%;
    margin: 1vw;
    margin-left: 5vw;
  }
  header .logo a {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  header nav ul {
    margin-right: 3vw;
  }
  header nav ul li {
    font-size: 1.2vw;
    margin: 1vw;
  }
}
main {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
main .separador img {
  display: none;
}
main .seccion-main {
  text-align: center;
  padding: 1vw;
  margin-bottom: 10vw;
}
main .seccion-main h1 {
  padding-bottom: 4vw;
  font-size: 8vw;
  padding-top: 4vw;
}
main .seccion-main p {
  color: #4d4d4d;
  font-size: 4vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

@media (min-width: 768px) {
  main {
    gap: 4vw;
  }
  main .seccion-main {
    padding-right: 10vw;
    padding-left: 10vw;
    margin-bottom: 6vw;
  }
  main .seccion-main h1 {
    padding-bottom: 2vw;
    font-size: 4vw;
    padding-top: 2vw;
  }
  main .seccion-main p {
    color: #4d4d4d;
    font-size: 2vw;
    padding: 2vw;
  }
}
@media (min-width: 1024px) {
  main {
    gap: 2.5vw;
  }
  main .separador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
  }
  main .separador img {
    display: flex;
    width: 15%;
  }
  main .seccion-main {
    padding-right: 20vw;
    padding-left: 20vw;
    margin-bottom: 2vw;
  }
  main .seccion-main h1 {
    font-size: 2.5vw;
    padding-bottom: 0.8vw;
  }
  main .seccion-main p {
    font-size: 1.1vw;
    padding: 1vw;
  }
}
main .inicio .slider img {
  width: 100%;
}

main .nosotros h1 {
  background-color: #0D0D0D;
  color: #F2F2F2;
}

@media (min-width: 768px) {
  main .nosotros h1 {
    color: #0D0D0D;
    background-color: #F2F2F2;
  }
  main .nosotros section {
    background-color: rgb(163, 157, 157);
    box-shadow: 0.7vw 0.7vw 2.4vw 0.1vw black;
    border-radius: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  main .nosotros section p {
    color: #0D0D0D;
  }
}
main .importaciones h1 {
  background-color: #8C0303;
  color: #F2F2F2;
}
main .importaciones .servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .importaciones .servicios .card {
  width: 80%;
}
main .importaciones .servicios .card img {
  width: 100%;
}

@media (min-width: 768px) {
  main .importaciones h1 {
    color: #0D0D0D;
    background-color: #F2F2F2;
    padding-bottom: 0vw;
  }
  main .importaciones .servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .importaciones .servicios .card {
    width: 80%;
  }
  main .importaciones .servicios .card img {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  main .importaciones h1 {
    color: #0D0D0D;
    background-color: #F2F2F2;
    padding-bottom: 0vw;
  }
  main .importaciones .servicios .card {
    width: 90%;
  }
  main .importaciones .servicios .card img {
    width: 100%;
  }
}
main .contacto {
  background-color: #8C0303;
}
main .contacto h1 {
  color: #F2F2F2;
}
main .contacto form {
  background-color: #F20505;
  padding: 4vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
}
main .contacto form input {
  padding: 2vw;
  margin: 0.5vw;
  border-radius: 6vw;
  border-color: #F2F2F2;
  background-color: #F2F2F2;
}
main .contacto form .input-submit {
  background-color: #8C0303;
  color: #F2F2F2;
}
main .contacto form ::-webkit-input-placeholder {
  color: #4d4d4d;
  font-size: 4vw;
  padding: 3vw;
  font-weight: bold;
}
main .contacto form ::-moz-placeholder {
  color: #4d4d4d;
  font-size: 4vw;
  padding: 3vw;
  font-weight: bold;
}
main .contacto form :-ms-input-placeholder {
  color: #4d4d4d;
  font-size: 4vw;
  padding: 3vw;
  font-weight: bold;
}

@media (min-width: 768px) {
  main .contacto {
    background-color: #F2F2F2;
    padding-left: 15vw;
    padding-right: 15vw;
  }
  main .contacto h1 {
    color: #0D0D0D;
  }
  main .contacto form {
    background-color: rgb(163, 157, 157);
    box-shadow: 0.6vw 0.6vw 2vw 0.1vw black;
  }
  main .contacto form input {
    padding: 1.5vw;
    margin: 0.5vw;
    border-radius: 6vw;
  }
  main .contacto form .input-submit {
    background-color: #8C0303;
    color: #F2F2F2;
  }
  main .contacto form ::-webkit-input-placeholder {
    font-size: 2vw;
    padding: 2vw;
  }
  main .contacto form ::-moz-placeholder {
    font-size: 2vw;
    padding: 2vw;
  }
  main .contacto form :-ms-input-placeholder {
    font-size: 2vw;
    padding: 2vw;
  }
}
@media (min-width: 1024px) {
  main .contacto {
    background-color: #F2F2F2;
    padding-left: 25vw;
    padding-right: 25vw;
    margin-bottom: 0.1vw;
  }
  main .contacto h1 {
    color: #0D0D0D;
  }
  main .contacto form {
    background-color: rgb(163, 157, 157);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .contacto form input {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    width: 45%;
  }
  main .contacto form .input-submit {
    width: 90%;
  }
  main .contacto form ::-webkit-input-placeholder {
    font-size: 1.1vw;
  }
  main .contacto form ::-moz-placeholder {
    font-size: 1.1vw;
  }
  main .contacto form :-ms-input-placeholder {
    font-size: 1.1vw;
  }
}
main footer {
  background-color: #4d4d4d;
  padding: 2vw;
}
main footer p {
  font-size: 3.5vw;
  text-align: center;
}
main footer p a {
  color: black;
}

@media (min-width: 768px) {
  main footer {
    padding: 1.5vw;
  }
  main footer p {
    font-size: 1.5vw;
  }
}
@media (min-width: 1024px) {
  main footer {
    padding: 1vw;
  }
  main footer p {
    font-size: 1vw;
  }
}/*# sourceMappingURL=style.css.map */