@media (min-width: 0px) {

// tamaños, colores y decoración mobile

    .thefooter {
        background-color: rgb(5, 5, 5);
        padding: 10px;
        padding-top: 20px;

        .navfooter{
            padding: 6px;
            margin-bottom: 15px;
            font-family: 'roboto', sans-serif;
            color: white;
            font-size: 1.4em;

            h3{
                margin-left: 2%;
            }

            li{
                margin: 4px;
            }

            .bi-whatsapp{
                color: rgb(16, 192, 0);
            }

            .bi-envelope-at-fill{
                color: rgb(224, 0, 0);
            }

            .bi-facebook{
                color: rgb(0, 175, 219);
            }

            a{
                text-decoration: none;
                color: white;
                font-size: 0.95em;
            }

        } 

        .barrita{
            background-color: white;
            height: 1px;
            margin: 3px;
            margin-bottom: 5px;
        }
    
    }

    // flexbox y posiciones mobile

    .thefooter{
        display: flex; flex-direction: column;

        .navfooter{
            display: flex; flex-direction: column;
            align-items: center;

            ul{
                display: flex; flex-direction: column;
                align-items: stretch;

                li{
                    display: flex;
                }
            }
        }
    }
}

@media (min-width: 380px) {

// tamaños, colores y decoración mobile/tablet

    .thefooter {
        padding: 10px;
        padding-top: 20px;

        .navfooter{
            padding: 6px;
            margin-bottom: 15px;
            font-size: 1.5em;

            li{
                margin: 5px;
            }

            a{
                font-size: 0.95em;
            }

        } 

        .barrita{
            height: 2px;
            margin-bottom: 10px;
        }
    
    }

    // flexbox y posiciones mobile/tablet

    .thefooter{
        display: flex; flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) {

    // tamaños, colores y decoración desktop
    
        .thefooter {
            padding: 40px;
    
            .navfooter{
                padding: 6px;
                margin-bottom: 5px;
                font-size: 1.6em;
    
                li{
                    margin: 4px;
                }
    
                a{
                    font-size: 0.9em;
                }
    
            } 
    
            .barrita{
                height: 2.5px;
                margin-bottom: 10px;
            }
        
        }
    
        // flexbox y posiciones desktop
    
        .thefooter{
            display: flex; flex-direction: row;
            justify-content: space-evenly;
        }
    }