// reset de toda la página

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// valores generales para todas las listas, imagenes , etiquetas y contenidos

html{
    font-size: 62.5%;
}

ul{
    li{
        text-decoration: none;
        list-style: none;
    }
}

img{
    width: 100%;
}