@media (min-width: 0px) {

// tamaños, colores y decoración mobile

    header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.877);

        .navbar{
            padding: 4px;
        }

        .navlogo{
            margin: 4%;
            a{
                width: 50%;
                }
            }
    
        .navsections {
            a{
            font-family: 'mulish', sans-serif;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            } }
        }  

    // flexbox y posiciones mobile

    .navbar{
        display: grid;
        grid-template-areas: 
        "logo"
        "sections";

        .navlogo{
            grid-area: "logo";
            display: flex; justify-content: center;
        }
        .navsections{
            grid-area: "sections";
            
            ul{
                display: flex; flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

@media (min-width: 481px) {

    // tamaños, colores y decoración mobile/tablet

    header {
    
        .navsections {
            a{
            font-family: 'mulish';
            color: white;
            text-decoration: none;
            font-size: 1.35em;
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            } }
        }  

}

@media (min-width: 768px) {

    // tamaños colores y decoración tablet/laptop

    header {
            .navlogo{
                a{
                    width: 40%;
                    }
                }
        
            .navsections {

            li{
                padding: 10px;

                a{
                font-family: 'mulish';
                color: white;
                text-decoration: none;
                font-size: 1.6em;
                text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                } } }
            }

    // flexbox y posiciones tablet/laptop

    .navbar{
        display: grid;
        grid-template-areas: 
        "logo sections sections sections";

        .navlogo{
            grid-area: "logo";
            display: flex; justify-content: center;
        }
        .navsections{
            grid-area: "sections";
            display: flex;
            justify-content: flex-end; 
            align-items: center;
            
            ul{
                display: flex; flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (min-width: 1024px) {

    // tamaños colores y decoración desktop

    header {
            .navlogo{
                a{
                    width: 35%;
                    margin-left: 15%;
                    }
                }
        
            .navsections {
                width: 80%;

            li{
                padding: 10px;

                a{
                font-family: 'mulish';
                color: white;
                text-decoration: none;
                font-size: 2em;
                text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                } } }
            }

    // flexbox y posiciones desktop

    .navbar{
        display: grid;
        grid-template-areas: 
        "logo sections sections";

        .navlogo{
            grid-area: "logo";
            display: flex; justify-content: flex-start;
        }
        .navsections{
            grid-area: "sections";
            display: flex;
            
            ul{
                display: flex; 
                flex-direction: row;
                width: 100%;
            }
        }
    }
}